/* Mobiles */
.header{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 120px;

}
.divTitulo{
    position: absolute;
    top: 6%;
}
.nav{
    position: absolute;
    left: 2%;
    margin: 10px;
    padding: 0;
    list-style: none;
}

.filtros{
    position: absolute;
    right: 8%;
    top: 5%;
}

.input{
    position: absolute;
    right: 2%;
    top: 2%;

}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@200;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: 'poppins' ,'Times New Roman', Times, serif;
    color: white;
}
body{
    background-color: white;
}
.main-container{
    border: 5px solid #14253d;
    margin: 5%;
    width: 25%;
    height: 350px;
    border-radius: 15px;
    background-color: #14253d;
}
.card-content{
    /* border: 2px solid lightcoral;  */
    margin: 20px;
}
.card-content img{
    width: 290px;
    height:300px;
    padding-bottom: 20px;
   cursor: pointer;
   border-radius: 15px;
    margin: 0 auto;
}
.card-content  .content{
  color: #8bacda;
  font-size: .9rem;
  font-weight: 200;
  padding: 20px 0;
}
.price{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid grey;
}
.left{
    display: flex;
    
}
.left img{
    width: 11px;
    height: 18px;
}
.left span{
    font-size: 15px;
    color: #00fff7;
}
.right{
    display: flex;
    
}
.right img{
    width: 17px;
    height: 17px;
}
.right span{
    color: #8bacda;
    font-size: 16px;
}
.auth p{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}
.auth span{
    color: bisque;
    font-size: 16px;
}
.card-content #hp {
  position: absolute;
  bottom: 85%;
  right: 39%;
  

}